label,input {
  font-family: var(--font-family-p);
  font-size: var(--font-size-p);
  font-weight: normal;

  margin: 5px 0px;
  padding: 0;
}

/* radio form */

.radio-choice {
  width: 100%;
  height: 32px;

  margin-bottom: 18px;

  box-sizing: border-box;
  border: var(--border-w) var(--bg-secondary);


  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;
}

.radio-choice .input-container {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-choice .input-container label{
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 5px 0px;
  /*padding-top: 14px;*/
}

input[type=radio] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
}

input[type=radio]:checked + label {
  background: var(--bg-secondary);
}
